@using Microsoft.AspNetCore.Http
@using HeThongTimViec.Models
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hệ Thống Tìm Việc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HeThongTimViec.styles.css" asp-append-version="true" />
    @* Thêm Font Awesome nếu cần icon *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">Hệ Thống Tìm Việc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            bool dangLaNTDCaNhan = HttpContextAccessor.HttpContext?.Session.GetInt32("DangLaNTD") == 1;
                        }
                        @if (!dangLaNTDCaNhan)
                        {
                            <li class="nav-item">
                                <a class="btn btn-success me-2" asp-area="" asp-controller="TimViec" asp-action="Index">Tìm Việc Làm</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-info me-2" asp-area="CaNhan" asp-controller="TinTuyenDung" asp-action="TaoMoi">Đăng Tin Mới</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                         <li class="nav-item me-2">
                            <a class="nav-link text-dark position-relative" asp-area="" asp-controller="TinNhan" asp-action="Index" title="Tin nhắn">
                                <i class="fa-regular fa-envelope"></i>
                                @* <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span> *@
                            </a>
                        </li>
                         <li class="nav-item me-3">
                            <a class="nav-link text-dark position-relative" asp-area="" asp-controller="ThongBao" asp-action="Index" title="Thông báo">
                                <i class="fa-regular fa-bell"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-regular fa-user me-1"></i>
                                @User.FindFirstValue(ClaimTypes.Name) @* Lấy tên từ Claim *@
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="Index">Bảng Điều Khiển</a></li>
                                <li><hr class="dropdown-divider"></li>
                                @if (!dangLaNTDCaNhan)
                                {
                                    <li><a class="dropdown-item" asp-area="UngVien" asp-controller="HoSo" asp-action="Index">Hồ sơ của tôi</a></li>
                                    <li><a class="dropdown-item" asp-area="UngVien" asp-controller="ViecLam" asp-action="DaUngTuyen">Việc làm đã ứng tuyển</a></li>
                                    <li><a class="dropdown-item" asp-area="UngVien" asp-controller="ViecLam" asp-action="DaLuu">Việc làm đã lưu</a></li>
                                }
                                else
                                {
                                     <li><a class="dropdown-item" asp-area="CaNhan" asp-controller="TinTuyenDung" asp-action="QuanLy">Quản lý Tin đăng</a></li>
                                     <li><a class="dropdown-item" asp-area="CaNhan" asp-controller="UngVien" asp-action="QuanLy">Quản lý Ứng viên</a></li>
                                }
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-area="" asp-controller="TaiKhoan" asp-action="ChuyenDoiVaiTro" method="post">
                                         <button type="submit" class="dropdown-item">
                                            Chuyển sang @(dangLaNTDCaNhan ? "Ứng viên" : "Nhà tuyển dụng")
                                         </button>
                                    </form>
                                </li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="TaiKhoan" asp-action="CaiDat">Cài Đặt Tài Khoản</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-area="" asp-controller="TaiKhoan" asp-action="DangXuat" method="post">
                                        <button type="submit" class="dropdown-item">Đăng Xuất</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted mt-auto py-3 bg-light">
        <div class="container">
            © @DateTime.Now.Year - Hệ Thống Tìm Việc
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>